---
title: Publications
---

{% include header.html %}

<div class="controls" id="Filters">
      <h4>Search by title or author: </h4><input type="text" id="input" placeholder="search" >
  <br>

  <label>Filter:</label>

  <button class="filter" data-filter="all">All</button>
  <button class="filter" data-filter=".computer-vision">Computer Vision</button>
  <button class="filter" data-filter=".multimedia-search">Multimedia Search</button>
  <button class="filter" data-filter=".recommender-system">Recommender System</button>
  <button class="filter" data-filter=".scale">Scale Space</button>
  <button class="filter" data-filter=".application">Application of Multimedia</button>\
  <button class="filter" data-filter=".attention">Attention</button>
</div>

<div id="FilteredSet" class="container">

  <h2>Submitted preprints</h2>
  <div id="pub" class="pub recommender-system">
  <a href="http://arxiv.org/pdf/1503.01647.pdf"><name> Decentralized Recommender Systems </name><br></a>
  <authors> Zhangyang Wang, Xianming Liu, Shiyu Chang, Jiayu Zhou, Guo-Jun Qi,  and Thomas S Huang</authors>,
  <journal> arXiv preprint arXiv:1503.01647</journal> (2015)<div style="clear:both"></div>

  </div>

  <h2>Refereed Journal Articles</h2>
  <div id="pub" class="pub multimedia-search">
  <name> Localizing web videos using social images </name><br>
  <authors> Liujuan Cao, Xian-Ming Liu, Wei Liu, Rongrong Ji,  and Thomas Huang</authors>,
  <journal> Information Sciences</journal> (2014)<div style="clear:both"></div>

  </div>

  <div id="pub" class="pub application">
  <name> Where should I stand? Learning based human position recommendation for mobile photographing </name><br>
  <authors> Pengfei Xu, Hongxun Yao, Rongrong Ji, Xian-Ming Liu,  and Xiaoshuai Sun</authors>,
  <journal> Multimedia Tools and Applications</journal>, 69(1):3-29 (2014)<div style="clear:both"></div>

  </div>

  <div id="pub" class="pub multimedia-search">
  <name> Bidirectional-isomorphic manifold learning at image semantic understanding & representation </name><br>
  <authors> Xianming Liu, Hongxun Yao, Rongrong Ji, Pengfei Xu,  and Xiaoshuai Sun</authors>,
  <journal> Multimedia tools and applications</journal>, 64(1):53-76 (2013)<div style="clear:both"></div>

  </div>

  <h2>Conference Proceedings</h2>
  <div id="pub" class="pub computer-vision scale">
  <a href="_assets/papers/cvpr21015_parsing.pdf">
    <name> Understanding Image Structure via Hierarchical Shape Parsing </name><br>
  </a>
  <authors> Xian-Ming Liu, Rongrong Ji, Changhu Wang, Wei Liu, Bineng Zhong,  and Thomas S. Huang</authors>,
  in Computer Vision and Pattern Recognition (CVPR), 2015 IEEE Conference on. (2015)<div style="clear:both"></div>

  </div>

  <div id="pub" class="pub recommender-system">
  <name> ANALYZING USER PREFERENCE FOR SOCIAL IMAGE RECOMMENDATION </name><br>
  <authors> Xian-Ming Liu, Min-Hsuan Tsai,  and Thomas S. Huang</authors>,
  in Image Processing (ICIP), 2013 20th IEEE International Conference on. (2013)<div style="clear:both"></div>

  </div>

  <div id="pub" class="pub computer-vision">
  <name> Structured Textons for texture representation </name><br>
  <authors> Pengfei Xu, Xian-Ming Liu, Hongxun Yao, Yanhao Zhang,  and Shaopeng Tang</authors>,
  in Image Processing (ICIP), 2013 20th IEEE International Conference on. (2013)<div style="clear:both"></div>

  </div>

  <div id="pub" class="pub computer-vision scale">
  <a href="_assets/papers/cvpr2012_scale.pdf">
    <name> The scale of edges </name><br>
  </a>
  <authors> Xian-Ming Liu, Changhu Wang, Hongxun Yao, and Lei Zhang</authors>,
  in Computer Vision and Pattern Recognition (CVPR), 2012 IEEE Conference on. (2012)<div style="clear:both">
  <a href="https://www.youtube.com/watch?v=rtUXGFKAq1U">[Video]</a>
  <a href="_assets/code/AnisotropicDetector.zip">[Code]</a>
  <a href="_assets/code/scale_label_tool.zip">[Data & Labeling Tool]</a>
  </div>

  </div>

  <div id="pub" class="pub recommender-system application">
  <name> Video indexing and recommendation based on affective analysis of viewers </name><br>
  <authors> Sicheng Zhao, Hongxun Yao, Xiaoshuai Sun, Pengfei Xu, Xianming Liu,  and Rongrong Ji</authors>,
  in Proceedings of the 19th ACM international conference on Multimedia. (2011)<div style="clear:both"></div>

  </div>

  <div id="pub" class="pub multimedia-search application">
  <a href="_assets/papers/acmmm2011_video.pdf">
    <name> Learning heterogeneous data for hierarchical web video classification </name><br>
  </a>
  <authors> Xianming Liu, Hongxun Yao, Rongrong Ji, Pengfei Xu, Xiaoshuai Sun,  and Qi Tian</authors>,
  in Proceedings of the 19th ACM international conference on Multimedia. (2011)<div style="clear:both"></div>

  </div>

  <div id="pub" class="pub application attention">
  <name> Unsupervised fast anomaly detection in crowds </name><br>
  <authors> Xiaoshuai Sun, Hongxun Yao, Rongrong Ji, Xianming Liu,  and Pengfei Xu</authors>,
  in Proceedings of the 19th ACM international conference on Multimedia. (2011)<div style="clear:both"></div>

  </div>

  <div id="pub" class="pub multimedia-search">
  <name> Exploring statistical properties for semantic annotation: Sparse distributed and convergent assumptions for keywords </name><br>
  <authors> Xianming Liu, Hongxun Yao,  and Rongrong Ji</authors>,
  in Acoustics Speech and Signal Processing (ICASSP), 2010 IEEE International Conference on. (2010)<div style="clear:both"></div>

  </div>

  <div id="pub" class="pub multimedia-search">
  <a href="_assets/papers/acmmm2009_complete.pdf"
    <name> What is a complete set of keywords for image description & annotation on the web </name><br>
  </a>
  <authors> Xianming Liu, Hongxun Yao, Rongrong Ji, Pengfei Xu,  and Xiaoshuai Sun</authors>,
  in Proceedings of the 17th ACM international conference on Multimedia. (2009)<div style="clear:both"></div>

  </div>

  <div id="pub" class="pub multimedia-search">
  <name> Cross-media manifold learning for image retrieval & annotation </name><br>
  <authors> Xianming Liu, Rongrong Ji, Hongxun Yao, Pengfei Xu, Xiaoshuai Sun,  and Tianqiang Liu</authors>,
  in Proceedings of the 1st ACM international conference on Multimedia information retrieval. (2008)<div style="clear:both"></div>

  </div>


</div>

  <div class="gap"></div>
  <div class="gap"></div>
</div>

{% include footer.html %}
